{% extends 'base.html.twig' %}

{% block title %}Hello ListFileController!{% endblock %}

{% block body %}

    <h1>Archivos</h1>

    {% for file in files %}
        <p>
        <div>
            {{ file.name }}
            <br>
            {{ file.description }}
            <br>
            <a href='./uploads/file/{{ file.filename }}'>
                {{ file.filename }}
            </a>
        </div>
    {% endfor %}

{% endblock %}
