{% extends 'base.html.twig' %}

{% block title %}Hello MyListFileControlerController!{% endblock %}

{% block body %}
    <h1>Mis Archivos</h1>

    {% for file in files %}
        <p>
        <div>
            <b>Nombre:</b> {{ file.name }}

            <br>

            <b>Descriccion:</b> {{ file.description }}

            <br>

            <b>Archivo:</b>
            <a href='./uploads/file/{{ file.filename }}'>
                {{ file.filename }}
            </a>

            <br>
        </div>
    {% endfor %}

{% endblock %}
